.backgroundImage {
  background: url("https://images.pexels.com/photos/1170576/pexels-photo-1170576.jpeg?auto=compress&cs=tinysrgb&w=600");
  height: 100% !important;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.left_data{
    margin-bottom: 10rem;
    margin-top: 10rem;
}

.formBackground{
    background-color: white;
    text-align: center;
}